<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435586281027-85hu42387aeje9s6m1q8maonvr2u9is9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435586281027-85hu42387aeje9s6m1q8maonvr2u9is9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>435586281027-61fn2ioj6crdcnhprn3fvn0vj3orjpk7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2iWiD2NvuajiEBCuAKpY9vuhFFpgiBMI</string>
	<key>GCM_SENDER_ID</key>
	<string>435586281027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ProjetX</string>
	<key>PROJECT_ID</key>
	<string>projetx-298b4</string>
	<key>STORAGE_BUCKET</key>
	<string>projetx-298b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435586281027:ios:d27aced13ba907a776eef6</string>
	<key>DATABASE_URL</key>
	<string>https://projetx-298b4-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>